.InfoItem {
    display: inline-flex;
    align-items: center;
    margin: 2px 0;
}
.InfoItemDescription {
    max-width: 350px;
}
.InfoItemTooltip {
}
.InfoItemModalIcon {
    cursor: pointer;
}
.InfoItemSuggestion {
    display: inline-block;
    margin: 0 5px 0 15px;
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}