.Header {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    border: 1px solid black;
    
}
.HeaderRightBar {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    align-self: flex-end;
}