.SignsDetails {
    display: inline-flex;
    width: 220px;
    border: 1px solid black;
    flex-direction: column;
    padding: 16px;
}
.SingRow {
    display: flex;
    justify-content: space-between;
}
.SignInfo {
    display: flex;
    align-items: center;
}
.SingSymbol {
    display: flex;
    align-items: center;   
}