.SignsDetails {
    display: inline-flex;
    width: 240px;
    flex-direction: column;
    padding: 16px;
    border: 1px solid #E2E2E2;
    background: white;
    border-radius: 16px;
}
.SingRow {
    display: flex;
    justify-content: space-between;
}