.HousesDetails {
    display: inline-flex;
    width: 220px;
    flex-direction: column;
    padding: 16px;
    border: 1px solid #E2E2E2;
    background: white;
    border-radius: 16px;
}
.HouseRow {
    display: flex;
    justify-content: space-between;
    margin: 4px 0;
    cursor: pointer;
}

.HouseRow:hover {
    border-bottom: 1px solid;
}
.HouseInfo {
    display: flex;
    align-items: center;
}
.HouseSymbol {
    display: flex;
    align-items: center;   
}