
.ZoneInfo {
    display: inline-flex;
    align-items: center;
    width: 100px;

}
.SingSymbol {
    display: flex;
    align-items: center;   
}
.ZoneInfoZodiac {
    display: inline-flex;
    justify-content: center;
    width: 24px;
}
.ZoneInfoPlace {
    display: inline-flex;
    width: 76px;
}