body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --bodyBackground: #f8f1d9 url(https://ranobehub.org/img/noise/dark.png)!important;
  background: var(--bodyBackground);
}

:root {
  --fireColor: red;
  --windColor: green;
  --waterColor: blue;
  --earthColor: black;
  --chartSignHoverColor: rgb(255, 215, 0);
  --chartHoverColor: rgba(255, 215, 0, 0.6);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.element {
  color: black;
}
.element.fire {
  color: var(--fireColor);
}
.element.earth {
  color: var(--earthColor);
}
.element.wind {
  color: var(--windColor);
}
.element.water {
  color: var(--waterColor);
}
.sign-line-zodiac {
  stroke: currentColor;
  fill: currentColor
}

.aspect.depends_planets {
  color: black;
}
.aspect.harmonic {
  color: green;
}
.aspect.tense {
  color: red;
}
.aspect.creative {
  color: blue;
}
.aspect.karmic {
  color: brown;
}