body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --fireColor: red;
  --windColor: green;
  --waterColor: blue;
  --earchColor: black;
  --JupiterColor: red;
  --SunColor: orange;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.element.fire {
  color: var(--fireColor);
}
.element.earth {
  color: var(--earchColor);
}
.element.wind {
  color: var(--windColor);
}
.element.water {
  color: var(--waterColor);
}
.planet.Jupiter {
  color: var(--JupiterColor);
  fill: var(--JupiterColor);
}
.planet.Sun {
  color: var(--SunColor);
  fill: var(--SunColor);
}
.planet-line-zodiac.Jupiter {
  stroke: var(--JupiterColor);
}

.planet-line-zodiac.Sun {
  stroke: var(--SunColor);
}