
.error-message {
    color: red;
    font-size: 24px;
    font-weight: bold;
    padding: 16px;
}
.flex {
    display: flex;
}
.inline-flex {
    display: inline-flex;
}
.inline-flex.gap, .flex.gap {
    gap: 8px;
}
.inline-flex.flex-column, .flex.flex-column {
    flex-direction: column;
}